<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookshelf</title>
</head>
<body>
    <h1>Your literature</h1>

    <ul>
        <li th:each="literature : ${literature}">
            <span th:text="${literature.title}">TITLE</span> -
            <span th:text="${literature.publisher}">PUBLISHER</span>
            <ul>
                <li th:each="author : ${order.authors}">
                    <span th:text="${author.name}"></span> :
                    <span th:each="author : ${author.surname}"></span>
                </li>
            </ul>
        </li>
    </ul>
</body>
</html>